:root {
  --principal-bg-color: #fff;
  --principal-txt-color: #333333;

  --header-bg-color: #3c71c0;
  --header-titulo-color: #e3f4ff;
  --main-bg-color: #4c1dce;

  --footer-bg-color: #c2c2c2;
  --footer-btn-color: #4c1dce;
  --footer-text-color: #c2acff;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial;

}

.header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

} 

.header .floresta {
  display: block;
  width: 100%; 
  height: 600px;
}

.header span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

  color: #fff;
  font-size: 200px;
  font-weight: bold;
}

.main{
    margin: 40px 100px;
  display: flex;
  flex-direction: column;
}
.main img{
    width: 80%;
    height: 400px;
}
.main p{
    margin: 20px 0px;
}
.main h2 {
    font-size: 40px;
}


.footer{
    width: 100%;
    padding: 40px;
    background-color: #c2c2c2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

